.background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(10px);
    > .content {
        border-radius: 24px 24px 0 0;
        background: #fff;
        width: 100%;
        position: fixed;
        left: 0;
        height: 85vh;
        padding: 24px 24px 0 24px;
        > .contentInner {
            width: 100%;
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            > .headerBar {
                display: flex;
                justify-content: space-between;
                height: 50px;
                > .header {
                    display: inline-block;
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                }
                > .buttonDiv {
                    cursor: pointer;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            > .wrapperForAnimation {
                height: calc(100% - 50px);
                overflow: hidden;
                > .innerContent {
                    height: 100%;
                    width: 100%;
                    overflow: auto;
                    scrollbar-width: auto;
                    scrollbar-color: #6c5dd3 #ffffff;
                    padding-bottom: 3px;
                    &::-webkit-scrollbar {
                        width: 10px;
                        &-track {
                            background: transparent;
                        }
                        &-thumb {
                            background-color: #6c5dd3;
                            border-radius: 10px;
                        }
                    }
                    > .avatarSection {
                        height: 230px;
                        margin-top: 20px;
                        > .top {
                            display: flex;
                            > .preview {
                                display: flex;
                                flex-direction: column;
                                gap: 32px;
                                width: 110px;
                                > .yourAvatar {
                                    color: #b2b3bd;
                                    font-family: Inter;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 16px;
                                }
                                > .imgBox {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    > img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                            > .actionBtnSection {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 16px;
                                > .btnsSection {
                                    display: flex;
                                    align-items: center;
                                    > input {
                                        display: none;
                                    }
                                    > button,
                                    label {
                                        cursor: pointer;
                                        width: 166px;
                                        height: 40px;
                                        border-radius: 16px;
                                        font-family: Inter;
                                        font-size: 14px;
                                        font-weight: 700;
                                        line-height: 20px;
                                    }
                                    > label {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: #6c5dd3;
                                        color: #fff;
                                    }
                                    > button {
                                        background: #e4e4e4;
                                        color: #11142d;
                                    }
                                }
                                > .text {
                                    color: #b2b3bd;
                                    font-family: Inter;
                                    font-size: 14px;
                                    line-height: 24px;
                                }
                            }
                        }
                        >.bottom{
                            margin-top: 32px;
                            color: #B2B3BD;
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                    .gridContainer {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        row-gap: 20px;
                        column-gap: 16px;
                        padding-top: 29px;
                        &[data-width="phone"] {
                            > .inputBox {
                                grid-column: span 2;
                            }
                        }
                        > .inputBox {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            align-items: flex-start;
                            > label {
                                color: #b2b3bd;
                                font-family: Inter;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 16px;
                            }
                            > .inputRelative {
                                position: relative;
                                width: 100%;
                                > input {
                                    width: 100%;
                                    border-radius: 8px;
                                    border: 2px solid transparent;
                                    height: 56px;
                                    font-family: Inter;
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 20px;
                                    outline: none;
                                    padding: 0 23px;
                                    transition: 0.3s all ease-in-out;
                                    position: relative;
                                }
                                > .icon {
                                    position: absolute;
                                    cursor: pointer;
                                    top: 50%;
                                    right: 10px;
                                    width: 25px;
                                    height: 25px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        > .textAreaBox {
                            grid-column: span 2;
                            > .inputRelative {
                                height: 150px;
                                > textarea {
                                    resize: none;
                                    width: 100%;
                                    height: 100%;
                                    outline: none;
                                    border: 2px solid transparent;
                                    padding: 18px 23px;
                                    border-radius: 8px;
                                    transition: 0.3s all ease-in-out;
                                    font-family: Inter;
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 20px;
                                }
                            }
                        }
                        > .btnSection {
                            grid-column: span 2;
                            display: flex;
                            justify-content: space-between;
                            > button {
                                border-radius: 16px;
                                padding: 0 30px;
                                height: 56px;
                                background: #1b1d21;
                                color: #fff;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 20px;
                            }
                            > button:nth-child(2) {
                                background: #ff1b1b !important;
                            }
                        }
                    }
                }
            }
            > .loading {
                height: calc(100% - 50px);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        > .absolute {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            height: 30px;
            width: 27%;
            display: flex;
            align-items: center;
            justify-content: center;
            > .absoluteInner {
                width: 100%;
                height: 8px;
                background: #fff;
                border-radius: 4px;
            }
        }
    }
}

.backgroundDesktop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(10px);
    > .content {
        width: 50%;
        height: 80vh;
        border-radius: 24px;
        padding: 32px;
        > .headerBar {
            display: flex;
            justify-content: space-between;
            height: 50px;
            > .header {
                display: inline-block;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }
            > .buttonDiv {
                cursor: pointer;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        > .wrapperForAnimation {
            height: calc(100% - 50px);
            overflow: hidden;
            > .innerContent {
                height: 100%;
                width: 100%;
                overflow: auto;
                scrollbar-width: auto;
                scrollbar-color: #6c5dd3 #ffffff;
                padding-bottom: 3px;
                &::-webkit-scrollbar {
                    width: 10px;
                    &-track {
                        background: transparent;
                    }
                    &-thumb {
                        background-color: #6c5dd3;
                        border-radius: 10px;
                    }
                }
                > .avatarSection {
                    display: flex;
                    height: 150px;
                    margin-top: 20px;
                    gap: 40px;
                    > .preview {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 32px;
                        width: 110px;
                        > .yourAvatar {
                            color: #b2b3bd;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                        > .imgBox {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 64px;
                            width: 64px;
                            border-radius: 50%;
                            overflow: hidden;
                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    > .actionBtnSection {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 16px;
                        > .btnsSection {
                            display: flex;
                            align-items: center;
                            gap: 17px;
                            > input {
                                display: none;
                            }
                            > button,
                            label {
                                cursor: pointer;
                                width: 166px;
                                height: 40px;
                                border-radius: 16px;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 20px;
                            }
                            > label {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: #6c5dd3;
                                color: #fff;
                            }
                            > button {
                                color: #11142d;
                            }
                        }
                        > .text {
                            color: #b2b3bd;
                            font-family: Inter;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
                .gridContainer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 20px;
                    column-gap: 16px;
                    padding-top: 29px;
                    > .inputBox {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        align-items: flex-start;
                        > label {
                            color: #b2b3bd;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                        > .inputRelative {
                            position: relative;
                            width: 100%;
                            > input {
                                width: 100%;
                                border-radius: 8px;
                                border: 2px solid transparent;
                                height: 56px;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 20px;
                                outline: none;
                                padding: 0 23px;
                                transition: 0.3s all ease-in-out;
                                position: relative;
                            }
                            > .icon {
                                position: absolute;
                                cursor: pointer;
                                top: 50%;
                                right: 10px;
                                width: 25px;
                                height: 25px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    > .textAreaBox {
                        grid-column: span 2;
                        > .inputRelative {
                            height: 150px;
                            > textarea {
                                resize: none;
                                width: 100%;
                                height: 100%;
                                outline: none;
                                border: 2px solid transparent;
                                padding: 18px 23px;
                                border-radius: 8px;
                                transition: 0.3s all ease-in-out;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 20px;
                            }
                        }
                    }
                    > .btnSection {
                        grid-column: span 2;
                        display: flex;
                        justify-content: space-between;
                        > button {
                            border-radius: 16px;
                            padding: 0 30px;
                            height: 56px;
                            background: #1b1d21;
                            color: #fff;
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px;
                        }
                        > button:nth-child(2) {
                            background: #ff1b1b !important;
                        }
                    }
                }
            }
        }
        > .loading {
            height: calc(100% - 50px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
