.MessageBoxMain {
    width: 100%;
    min-height: 400px;
    margin-top: 45px;
    border-radius: 24px;
    padding: 24px;
    > .title {
        display: inline-block;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }
    > .innerContainer {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        > .userBlock {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            padding: 33px 16px;
            border-radius: 12px;
            cursor: pointer;
            user-select: none;
            > .avatarSection {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                min-width: 45px;
                min-height: 45px;
                > img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            > .details {
                display: flex;
                flex-direction: column;
                gap: 16px;
                > .topSection {
                    display: flex;
                    gap: 11px;
                    > .userName {
                        font-family: Inter;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px;
                    }
                    > .time {
                        font-family: Inter;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px;
                    }
                }
                > .middleSection {
                    font-family: Inter;
                    font-size: 14px;
                    line-height: 24px;
                }
                > .actionSection {
                    display: flex;
                    gap: 16px;
                    > button {
                        border-radius: 50%;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border: 1px solid #e4e4e4;
                        position: relative;
                        > ul.moreOptionMenu {
                            position: absolute;
                            top: 140%;
                            right: 50%;
                            // width: 100px;
                            // transform: translateX(50%);
                            border: 1px solid #e4e4e4;
                            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            padding: 10px;
                            > li {
                                text-align: start;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}
