.searchBoxMain{
    position: relative;
    width: 100%;
    height: 56px;
    max-width: 300px;
    &.dark{
        >input{
            color: #fff;
            background: rgba(228, 228, 228, 0.10) !important;
            &:focus {
                background-color: rgba(228, 228, 228, 0.2) !important;
            }
        }
    }
    >input{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background: none;
        padding: 0 10px 0 40px;
        border-radius: 16px;
        background: rgba(228, 228, 228, 0.2);
        transition: 0.3s background ease-in-out;
        &:focus {
            background-color: rgba(228, 228, 228, 1);
        }
    }
    >.icon{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
}