.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    > .inputDiv {
        max-width: 200px;
        position: relative;
        height: 48px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > svg {
            position: absolute;
            top: 28%;
            left: 4%;
        }
        > input {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            padding-left: 35px;
            padding-right: 5px;
            background: transparent;
            color: #000;
            transition: 0.3s all ease-in-out;
            &::placeholder {
                font-family: Inter;
                color: #808191;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                opacity: 0.5;
            }
            &.dark {
                color: #fff;
            }
        }
        > .dropDown {
            width: 100%;
            min-height: 30px;
            min-width: 220px;
            background: #fff;
            position: absolute;
            top: 110%;
            z-index: 9999;
            border-radius: 12px;
            padding: 12px;
            transition: 0.3s background ease-in-out;
            &.dark {
                background: #242731 !important;
            }
            > .relatedResult {
                color: #808191;
                font-family: Inter;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                margin-bottom: 10px;
            }
            > .productResult {
                cursor: pointer;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-height: 3.2em;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                padding: 5px;
                border-radius: 10px;
                transition: 0.3s background ease-in-out;
                color: unset;
                &:hover {
                    background: #f8f3f3;
                }
                &.dark {
                    &:hover {
                        background: #474747 !important;
                    }
                }
                > .left {
                    display: flex;
                    gap: 10px;
                    height: 100%;
                    width: 90%;
                    align-items: center;
                    > .imgBox {
                        min-width: 40px;
                        width: 40px;
                        min-height: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 16px;
                        > img {
                            max-width: 90%;
                            max-height: 90%;
                        }
                    }
                    > .productName {
                        width: 67%;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                    }
                }
                > .rightIcon {
                    margin-bottom: 10px;
                }
            }
            > .notFound {
                color: #808191;
                font-family: Inter;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
            }
        }
    }
    > .notificationBadge {
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        border-radius: 50%;
        min-width: 45px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        > .indicator {
            position: absolute;
            top: -6px;
            right: -6px;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            background: #ff754c;
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        > .dropDownMenu {
            cursor: default;
            position: absolute;
            top: calc(100% + 20px);
            right: 0px;
            width: 350px;
            min-height: 100px;
            border-radius: 24px;
            padding: 32px 8px;
            z-index: 50;
            > .header {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-left: 5px;
                margin-bottom: 20px;
                display: inline-block;
            }
            > ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
                min-height: 50vh;
                > li {
                    padding: 16px 20px;
                    height: 80px;
                    background-color: transparent;
                    border-bottom: 1px solid #e4e4e4;
                    border-radius: 0px;
                    transition:
                        background-color 0.3s ease-in-out,
                        border-radius 0.3s ease-in-out,
                        border-bottom 0.3s ease-in-out;
                    &:hover {
                        background-color: #6c5dd3;
                        border-bottom: 1px solid transparent;
                        border-radius: 12px;
                        * {
                            color: #fff !important;
                        }
                    }
                    &.dark {
                        border-bottom: 1px solid rgba(228, 228, 228, 0.1);
                    }
                    > a {
                        background: transparent;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        color: unset;
                        > .left {
                            display: flex;
                            align-items: center;
                            gap: 23px;
                            > .avatarSection {
                                width: 48px;
                                height: 48px;
                                min-width: 48px;
                                min-height: 48px;
                                position: relative;
                                > img.avatar {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }
                                .positionAbs {
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    width: 20px;
                                    height: 20px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }
                            }
                            > .mainSection {
                                display: flex;
                                flex-direction: column;
                                gap: 6px;
                                > .userNameAndSurname {
                                    font-family: Inter;
                                    font-size: 13px;
                                    font-weight: 600;
                                    line-height: 18px;
                                    transition: 0.3s color ease-in-out;
                                }
                                > .aboutType {
                                    font-family: Inter;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 16px;
                                    display: flex;
                                    flex-wrap: nowrap;
                                    > .type {
                                        color: #808191;
                                        white-space: nowrap;
                                        transition: color 0.3s ease-in-out;
                                    }
                                    > .productName {
                                        color: #5f75ee;
                                        white-space: nowrap;
                                        margin-left: 5px;
                                        transition: color 0.3s ease-in-out;
                                    }
                                }
                            }
                        }
                        > .whenCome {
                            color: #b2b3bd;
                            font-family: Inter;
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 18px;
                            transition: color 0.3s ease-in-out;
                        }
                    }
                }
                > .empty {
                    width: 100%;
                    height: 50vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > .inner {
                        width: 60%;
                        min-width: 200px;
                        color: #b2b3bd;
                        font-family: Poppins;
                        font-size: 22px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
                >.allNotificationBtnBg{
                    width: 100%;
                    height: 80px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    >a{
                        border-radius: 16px;
                        background: #1B1D21;
                        height: 56px;
                        padding: 18px 31px;
                        color: #fff;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        transition: transform 0.3s ease-in-out;
                        &:hover{
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }
    }
}
