.main{
    display: flex;
    background-color: #fff;
    transition: 0.4s all ease-in-out;
    &.dark{
        background-color: #242731;
    }
    >.container{
        transition: 0.4s all ease-in-out;
        display: flex;
        position: relative;
        min-height: calc( 100vh - 80px );
        >.left{
            top: 0;
            left: 0;
            padding: 0px 5% 40px 5%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: space-between;
        }
        >.right{
            top: 0;
            left: 0;
            padding: 40px 5%;
            transition: 0.4s all ease-in-out;
            border-left: 1px solid rgba(228, 228, 228, 0.425);
            &.dark{
                border-left: 1px solid rgba(228, 228, 228, 0.1);
            }
        }
    }
}