.main {
    width: 100%;
    height: 100vh;
    background: radial-gradient(103.88% 58.43% at 56.74% 50%, #0085ff 0%, #003465 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    overflow-x: hidden;
    > .vectors {
        position: absolute;
        object-fit: contain;
    }
    > .vector1 {
        bottom: 0;
        left: 0;
        width: 250px;
        mix-blend-mode: luminosity;
    }
    > .imgDiv {
        position: absolute;
        top: 55%;
        left: 20%;
        width: 250px;
        height: 250px;
        > img {
            position: absolute;
            object-fit: contain;
            mix-blend-mode: luminosity;
            &:nth-child(2) {
                width: 100%;
                height: 100%;
            }
            &:nth-child(1) {
                bottom: 11%;
                left: -8%;
                width: 58%;
            }
        }
    }
    > .vector2 {
        height: 70px;
        left: 25%;
        top: 36%;
        mix-blend-mode: luminosity;
    }
    > .vector3 {
        height: 70px;
        left: 30%;
        top: 22%;
        mix-blend-mode: luminosity;
    }
    > .vector5 {
        left: 35%;
        top: 0;
        height: 80px;
    }
    > .vector6 {
        height: 60%;
        left: 50%;
        top: 15%;
        mix-blend-mode: luminosity;
    }
    > .vector7 {
        height: 45px;
        left: 72%;
        top: 75%;
        mix-blend-mode: luminosity;
    }
    > .vector8 {
        height: 32px;
        left: 77%;
        top: 81%;
        mix-blend-mode: luminosity;
    }
    > .vector9 {
        bottom: 0;
        right: 0;
        height: 90px;
    }
    > form {
        border-radius: 40px;
        border: 3px solid rgba(88, 130, 193, 0.49);
        background: rgba(88, 130, 193, 0.28);
        height: 70%;
        max-width: 500px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        > img:nth-child(1) {
            object-fit: contain;
            height: 40px;
            margin-bottom: 10px;
            align-self: flex-start;
        }
        > .loginText {
            font-family: "Montserrat", sans-serif;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        >.alertTextBg{
            display: flex;
            align-items: center;
            justify-content: center;
            >.alertText{
                display: flex;
                align-items: center;
                gap: 5px;
                text-align: center;
                min-height: 25px;
                width: fit-content;
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                color: red;
                font-weight: 500;
                line-height: 24px;
            }
        }
        > .emailLabel,
        > .passwordLabel {
            display: flex;
            flex-direction: column;
            gap: 5px;
            > div {
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                cursor: pointer;
                user-select: none;
            }
            > input {
                width: 100%;
                height: 40px;
                border-radius: 10px;
                border: 1px solid #bcbec0;
                background: #fff;
                outline: none;
                text-indent: 20px;
                &::placeholder {
                    color: #bcbec0;
                    font-size: 12px;
                }
            }
        }
        > .emailLabel {
            margin-top: 5px;
            margin-bottom: 20px;
        }
        > .actionBar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 20px;
            > .rememberMeLabel {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                user-select: none;
                > .template {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background: transparent;
                    border: 2px solid #e4e4e4;
                    transition: 0.3s all ease-in-out;
                }
                > input {
                    display: none;
                    &:checked + .template {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        height: 20px;
                        border: 2px solid transparent;
                        border-radius: 4px;
                        background: #6c5dd3;
                    }
                }
                > div {
                    font-family: "Montserrat", sans-serif;
                    font-size: 12px;
                }
            }
            > .forgetPass {
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
            }
        }
        button[type="submit"] {
            border-radius: 10px;
            background: #003465;
            height: 40px;
            color: #fff;
        }
    }
}
