main{
    display: flex;
    transition: 0.4s all ease-in-out;
    >.container{
        transition: 0.4s all ease-in-out;
        padding: 0px 5% 40px 5%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        // justify-content: space-between;
    }
}