.main{
    border-radius: 24px;
    padding: 3.5%;
    padding-bottom: 60px;
    padding-top: 30px;
    width: 48%;
    height: 379px;
    overflow: hidden;
    >.title{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 30px;
    }
    // >.chart{
    //     width: 100%;
    // }
}