.main {
    width: 100%;
    min-height: 100px;
    border-radius: 24px;
    padding: 24px;
    > .title {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
        display: inline-block;
        margin-bottom: 32px;
    }
    > ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        min-height: 50vh;
        > li {
            padding: 33px 16px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: transparent;
            border-bottom: 1px solid #e4e4e4;
            border-radius: 0px;
            transition:
                background-color 0.3s ease-in-out,
                border-radius 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;
            &:hover {
                background-color: rgba(247, 247, 247, 1);
                border-bottom: 1px solid transparent;
                border-radius: 12px;
            }
            &.dark {
                border-bottom: 1px solid rgba(228, 228, 228, 0.1);
            }
            &.dark:hover {
                background-color: rgba(223, 223, 223, 0.1);
                border-bottom: 1px solid transparent;
                border-radius: 12px;
            }
            > .left {
                display: flex;
                gap: 24px;
                > .imgSection {
                    width: 48px;
                    height: 48px;
                    min-width: 48px;
                    min-height: 48px;
                    position: relative;
                    > img.avatar {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .positionAbs {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 20px;
                        height: 20px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                > .mainSection {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    > .userNameAndSurname {
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    > .aboutType {
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px; /* 138.462% */
                        font-family: Inter;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        > .type,
                        > .whenCome {
                            color: #808191;
                        }
                        > .productName {
                            color: #5f75ee;
                        }
                    }
                    > .innerText {
                        margin: 5px 0;
                        color: #808191;
                        font-family: Inter;
                        font-size: 14px;
                        line-height: 24px; /* 171.429% */
                        &::before,
                        &::after {
                            content: '"';
                        }
                    }
                    > .btnsSection {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        > button {
                            * {
                                transition: 0.3s all ease-in-out;
                            }
                            width: 38px;
                            height: 38px;
                            border: 1px solid red;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background: none;
                        }
                    }
                }
            }
            > .imgSectionBg {
                border-radius: 8px;
                min-width: 96px;
                min-height: 96px;
                width: 96px;
                height: 96px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #cfc8ff;
                overflow: hidden;
                > .productImage {
                    cursor: pointer;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
        > .empty {
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            >.inner{
                width: 60%;
                min-width: 200px;
                color: #b2b3bd;
                font-family: Poppins;
                font-size: 22px;
                font-weight: 500;
                text-align: center;
            }

        }
        > .loadMoreBg {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            > button {
                width: 100px;
                height: 56px;
                transition: 0.3s all ease-in-out;
                border-radius: 16px;
                background: #1b1d21;
                font-family: Inter;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: #fff;
            }
        }
    }
}
.deleteModal {
    border-radius: 14px;
    padding: 10px 20px;
    position: relative;
    max-width: 700px;
    > h2 {
        margin-bottom: 10px;
    }
    > .btns {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 30px;
        > button:nth-child(1) {
            width: 70px;
            height: 40px;
            border-radius: 10px;
            background: transparent;
            transition: 0.3s all ease-in-out;
        }
        > button:nth-child(2) {
            width: 90px;
            height: 40px;
            border-radius: 10px;
            background: #6c5dd3;
            color: #fff;
            transition: 0.3s all ease-in-out;
        }
    }
}
